.left-label {
    width: 20%;
    margin-top: 15px;
}

.custom-mat-input-element {
    width: 90%;
    margin-left: 10px;

}

.two-divide {
    width: 19%
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 !important;
}

.left-label {
    font-size: 1.3rem;
    font-weight: 400;
}


.table-out-section .mat-form-field-infix .mat-input-element {
    font-size: 14px;
}