<div mat-dialog-title>User</div>

<mat-dialog-content style="height: 100% !important;">


    <form [formGroup]="firstFormGroup" [ngStyle]="{'margin-top': '7px'}">

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

            <mat-form-field  fxFlex>
                <mat-label>Login Id</mat-label>
                <input type="text" formControlName="LOGIN_ID" matInput>
                <mat-error *ngIf="firstFormGroup.get('LOGIN_ID').hasError('required')">Login ID is required</mat-error>
            </mat-form-field>

            <mat-form-field  fxFlex>
                <mat-label>Email Id</mat-label>
                <input type="text" formControlName="EMAIL_ID" matInput>
                <mat-error *ngIf="firstFormGroup.get('EMAIL_ID').hasError('required')">Email ID is required</mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
  
            <mat-form-field  fxFlex>
                <mat-label>Password</mat-label>
                <input type="password" formControlName="PASSWORD" matInput>
                <mat-error *ngIf="firstFormGroup.get('PASSWORD').hasError('required')">Password is required</mat-error>
            </mat-form-field>

            <mat-form-field  fxFlex>
                <mat-label>Confirm Password</mat-label>
                <input type="password" formControlName="confirmPassword" matInput>
                <mat-error *ngIf="firstFormGroup.get('confirmPassword').hasError('required')">Confirm password is required</mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

            <mat-form-field  fxFlex>
                <mat-label>First Name</mat-label>
                <input type="text" formControlName="USER_FIRST_NAME" matInput>
                <mat-error *ngIf="firstFormGroup.get('USER_FIRST_NAME').hasError('required')">First name is required</mat-error>
            </mat-form-field>

            <mat-form-field  fxFlex>
                <mat-label>Middle Name</mat-label>
                <input type="text" formControlName="USER_MIDDLE_NAME" matInput>
                <mat-error *ngIf="firstFormGroup.get('USER_MIDDLE_NAME').hasError('required')">Middle name is required</mat-error>
            </mat-form-field>

            <mat-form-field  fxFlex>
                <mat-label>Last Name</mat-label>
                <input type="text" formControlName="USER_LAST_NAME" matInput>
                <mat-error *ngIf="firstFormGroup.get('USER_LAST_NAME').hasError('required')">Last name is required</mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

            <mat-form-field  fxFlex>
                <mat-label>DOB</mat-label>
                <input type="date" formControlName="DOB" matInput>
                <mat-error *ngIf="firstFormGroup.get('DOB').hasError('required')">DOB is required</mat-error>
            </mat-form-field>

            <mat-form-field  fxFlex>
                <mat-label>Phone No</mat-label>
                <input type="text" formControlName="PHONE_NUMBER" (input)="ValidNumberInput('PHONE_NUMBER', $event.target.value)" maxlength="14" matInput>
                <mat-error *ngIf="firstFormGroup.get('PHONE_NUMBER').hasError('required')">Phone No is required</mat-error>
                <mat-error *ngIf="firstFormGroup.get('PHONE_NUMBER').hasError('maxLength')">Phone No can contain upto 10 digits</mat-error>
            </mat-form-field>

        </div>


        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field  fxFlex>
              <mat-label>Country</mat-label>
              <mat-select formControlName="COMPANY_GUID">
                <mat-option>
                  <ngx-mat-select-search 
                    formControlName="company_Filter"
                    [placeholderLabel]="'search...'"
                    [noEntriesFoundLabel]="'no matching found!'"
                  >
                  </ngx-mat-select-search>
                </mat-option>   
                                            
                <mat-option *ngFor="let b of filtered_company | async" [value]="b.COMPANY_GUID">
                  {{b.COMPANY_NAME}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="firstFormGroup.get('COMPANY_GUID').hasError('required')">Company is required</mat-error>
            </mat-form-field>
          </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

            <mat-form-field  fxFlex>
                <mat-label>Designation</mat-label>
                <mat-select formControlName="USER_DESIGNATION">   
                    <mat-option value="Super Admin">Super Admin</mat-option>
                    <mat-option value="Admin">Admin</mat-option>
                </mat-select>
                <mat-error *ngIf="firstFormGroup.get('USER_DESIGNATION').hasError('required')">Designation is required</mat-error>
            </mat-form-field>

            <mat-form-field  fxFlex>
                <mat-label>Date of Joining</mat-label>
                <input type="date" formControlName="DATE_OF_JOINING" matInput>
                <mat-error *ngIf="firstFormGroup.get('DATE_OF_JOINING').hasError('required')">Joining date is required</mat-error>
            </mat-form-field>

        </div>

        
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">


            <mat-form-field  fxFlex>
                <mat-label>Date of Probation</mat-label>
                <input type="date" formControlName="DATE_OF_PROBATION" matInput>
                <mat-error *ngIf="firstFormGroup.get('DATE_OF_PROBATION').hasError('required')">Probation date is required</mat-error>
            </mat-form-field>

            <mat-form-field  fxFlex>
                <mat-label>Date of Confirmation</mat-label>
                <input type="date" formControlName="DATE_OF_CONFIRMATION" matInput>
                <mat-error *ngIf="firstFormGroup.get('DATE_OF_CONFIRMATION').hasError('required')">Confirmation date is required</mat-error>
            </mat-form-field>

            <mat-form-field  fxFlex>
                <mat-label>Date of Termination</mat-label>
                <input type="date" formControlName="DATE_OF_TERMINATION" matInput>
                <mat-error *ngIf="firstFormGroup.get('DATE_OF_TERMINATION').hasError('required')">Termination date is required</mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
  
            <mat-form-field  fxFlex>
                <mat-label>Present Address</mat-label>
                <textarea type="text" formControlName="PRESENT_ADDRESS" rows="3" matInput></textarea>
                <mat-error *ngIf="firstFormGroup.get('PRESENT_ADDRESS').hasError('required')">Present address is required</mat-error>
            </mat-form-field>

            <mat-form-field  fxFlex>
                <mat-label>Permanent Address</mat-label>
                <textarea type="text" formControlName="PERMANENT_ADDRESS" rows="3" matInput></textarea>
                <mat-error *ngIf="firstFormGroup.get('PERMANENT_ADDRESS').hasError('required')">Present address is required</mat-error>
            </mat-form-field>

        </div>

        <!-- <div fxLayout="row" fxLayoutAlign="space-between center" [ngStyle]="{'padding-bottom': '10px','border-bottom': '1px dashed #d3d3d3', 'margin-bottom': '20px'}">
            <div>Active Status</div>
            <mat-checkbox
                [color]="'accent'"
                formControlName="ACTIVE_STATUS"
            >
            </mat-checkbox>
        </div> -->

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" *ngIf="ErrorMessage">
            <h6 style="color: #ff0000;">{{ErrorMessage}}</h6>
        </div>

    </form>

</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button color="primary" class="save-btn" (click)="SaveUser()" [disabled]="!firstFormGroup.valid && !IsEdit">SAVE</button>
  <button mat-raised-button color="warn" (click)="CloseModal()">CLOSE</button>
</mat-dialog-actions>

