.edit-planner {
  table.mat-table {
    border-spacing: 0;
    width: 100%;
  }
  .details-table {
    margin-bottom: 20px;
  }
  .details-table tr.mat-row td.left-column {
    width: 30%;
  }
  .details-table tr.mat-row td.right-column {
    width: 70%;
  }
  .details-table td.mat-cell {
    border: 1px solid #eee;
    padding: 10px;
    display: table-cell !important;
  }
  .filter-select {
    margin-right: 10px;
    border: none;
    background: #f5f5f5;
    height: 39px;
    width: 97px;
  }
  .mat-form-field {
    display: block;
  }
  .details-table .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0px;
  }
  .details-table td.mat-cell {
    padding: 0px;
  }

  .details-table .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px 0 10px 0 !important;
  }
  .details-table .mat-form-field-appearance-outline .mat-form-field-outline {
    display: none !important;
  }
  .details-table .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(-0%) !important;
  }
  .details-table .mat-form-field-outline {
    display: none;
  }
  label.crew-label {
    padding: 0px 10px 0px 10px;
  }
  .mat-form-field-appearance-outline .mat-form-field-label {
    top: 10px;
    margin-top: 17px;
  }
  .mat-form-field-label-wrapper {
    top: -9px;
    padding-top: 0.84375em;
  }
 .mat-form-field-subscript-wrapper {
    font-size: 75%;
    margin-top: 0.0666666667em;
    top: calc(100% - .8916666667em);
  }
  .mat-form-field-infix {
    border-top: 0.84375em solid transparent;
    width: auto !important;

  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0.7em 0.7em 0 0.7em;
  }
  button.mat-focus-indicator.mat-calendar-previous-button.mat-icon-button.mat-button-base {
    min-width: 40px;
  }
  button.mat-focus-indicator.mat-calendar-next-button.mat-icon-button.mat-button-base {
    min-width: 40px;
  }
 
}
