.mat-form-field-appearance-outline .mat-form-field-label {
    top: 31px;
    margin-top: -2px;
  }
  .mat-form-field-appearance-outline .mat-form-field-label {
    top: 34px;
    margin-top: -4px;
  }
  .top {
    margin-top: 10px;
  }
  .mat-form-field-label-wrapper {
    top: -9px;
    padding-top: 0.84375em;
  }
  .mat-form-field-subscript-wrapper {
    font-size: 75%;
    margin-top: 0.6666666667em;
    top: calc(100% - 0.5916666667em);
  }
  