<fury-page-layout mode="card" class="view-all-boat">
  <fury-page-layout-header>
    <form
      [formGroup]="filterFormGroup"
      [ngStyle]="{ 'margin-top': '7px' }"
      (ngSubmit)="onClickSubmit(filterFormGroup.value)"
    >
      <div class="filter-area" fxFlex>
        <div fxLayout="row" fxLayoutAlign="start">
          <div fxFlex>
            <mat-form-field>
              <mat-label>Principal Name</mat-label>
              <mat-select formControlName="PRINCIPAL_GUID">
                <mat-option>
                  <ngx-mat-select-search
                    formControlName="principal_Filter"
                    [placeholderLabel]="'search...'"
                    [noEntriesFoundLabel]="'no matching found!'"
                  >
                  </ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let b of filtered_principal | async"
                  [value]="b.COMPANY_GUID"
                >
                  {{ b.COMPANY_NAME }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Vessel</mat-label>
              <mat-select formControlName="VESSEL_GUID">
                <mat-option>
                  <ngx-mat-select-search
                    formControlName="vessel_Filter"
                    [placeholderLabel]="'search...'"
                    [noEntriesFoundLabel]="'no matching found!'"
                  >
                  </ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let b of filtered_vessel | async"
                  [value]="b.VESSEL_GUID"
                >
                  {{ b.VESSEL_NAME }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Planner PIC</mat-label>
              <mat-select formControlName="AGENT_GUID">
                <mat-option>
                  <ngx-mat-select-search
                    formControlName="pic_Filter"
                    [placeholderLabel]="'search...'"
                    [noEntriesFoundLabel]="'no matching found!'"
                  >
                  </ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let b of filtered_pic | async"
                  [value]="b.USER_GUID"
                >
                  {{ b.USER_FIRST_NAME }} {{ b.USER_MIDDLE_NAME }}
                  {{ b.USER_LAST_NAME }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <mat-label>Date From</mat-label>
              <input
                matInput
                formControlName="FROM_DATE"
                [matDatepicker]="pickerFrom"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerFrom"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Date To</mat-label>
              <input
                matInput
                formControlName="TO_DATE"
                [matDatepicker]="pickerTo"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerTo"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <mat-label>Planner</mat-label>
              <mat-select formControlName="PLANNER_GUID">
                <mat-option>
                  <ngx-mat-select-search
                    formControlName="planner_Filter"
                    [placeholderLabel]="'search...'"
                    [noEntriesFoundLabel]="'no matching found!'"
                  >
                  </ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let b of filtered_planner | async"
                  [value]="b.GUID"
                >
                  {{ b.REF_NUM }} - {{ b.VESSEL_NAME }} -
                  {{
                    (b.VESSEL_ACTUAL_ARR ? b.VESSEL_ACTUAL_ARR : b.VESSEL_ETA)
                      | date: "dd MMM YYYY"
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Trip type</mat-label>
              <mat-select formControlName="Trip_Type">
                <mat-option value="one-way">One-Way</mat-option>
                <mat-option value="round-trip">Round-Trip</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <mat-label>Boat type</mat-label>
              <mat-select formControlName="BOAT_TYPE">
                <!-- <mat-option>
                  <ngx-mat-select-search
                    formControlName="type_Filter"
                    [placeholderLabel]="'search...'"
                    [noEntriesFoundLabel]="'no matching found!'"
                  >
                  </ngx-mat-select-search>
                </mat-option> -->

                <mat-option
                  *ngFor="let b of filtered_boat_type | async"
                  [value]="b.PARAMETER_GUID"
                >
                  {{ b.PARAMETER_NAME }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Boat vendor</mat-label>
              <mat-select formControlName="BOAT_VENDOR">
                <mat-option>
                  <ngx-mat-select-search
                    formControlName="vendor_Filter"
                    [placeholderLabel]="'search...'"
                    [noEntriesFoundLabel]="'no matching found!'"
                  >
                  </ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let b of filtered_boat_vendor | async"
                  [value]="b.Vendor_GUID"
                >
                  {{ b.Vendor_Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="filter-btn-area" fxFlex>
            <div>
              <button
                class="create"
                mat-raised-button
                color="primary"
                class="filter-btn"
              >
                Search
              </button>
            </div>
            <div>
              <button
                class="create"
                (click)="clearFilter()"
                mat-raised-button
                color="warn"
                class="filter-btn"
                type="button"
              >
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <div class="actions-area">
      <div>
        <span
          class="create"
          (click)="SaveData(null, false)"
          *ngIf="
            authGuard.checkPermission(
              'oPk6Fh2BP24443f12-c950-46b3-b22c-boat',
              'create'
            )
          "
        >
          <button mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
          Add Boat Log
        </span>
      </div>
      <div>
        <span
          (click)="exportAsExcel()"
          style="cursor: pointer"
          *ngIf="
            authGuard.checkPermission(
              'oPk6Fh2BP24443f12-c950-46b3-b22c-boat',
              'export'
            )
          "
        >
          <img
            src="../../../../assets/img/excel.png"
            class="logo"
            alt="excel"
          />
        </span>
      </div>
      <div *ngIf="loading" class="content-loader">
        <mat-progress-spinner
          mode="indeterminate"
          color="accent"
        ></mat-progress-spinner>
      </div>
    </div>

    <div #TABLE>
      <table
        [dataSource]="dataSource"
        mat-table
        matSort
        #table
        class="details-table"
      >
        <ng-container matColumnDef="Vessel_Name">
          <th
            *matHeaderCellDef
            class="actions-cell"
            [ngStyle]="{ 'white-space': 'initial' }"
            mat-header-cell
            mat-sort-header
          >
            Vesssel Name
          </th>
          <td
            *matCellDef="let row; let i = index"
            class="actions-cell"
            [ngStyle]="{ 'white-space': 'initial' }"
            mat-cell
          >
            <p class="tbl-row-item">{{ row.Vessel_Name }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Planner_Name">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Planner
          </th>
          <td
            *matCellDef="let row; let i = index"
            class="actions-cell"
            mat-cell
          >
            <p class="tbl-row-item">{{ row.REF_NUM }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Planner_Pic">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Planner PIC
          </th>
          <td
            *matCellDef="let row; let i = index"
            class="actions-cell"
            mat-cell
          >
            <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Boat_Date">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Date
          </th>
          <td
            *matCellDef="let row"
            [ngStyle]="{ 'white-space': 'initial' }"
            class="actions-cell"
            mat-cell
          >
            <p class="tbl-row-item">
              {{ row.Boat_Date | date: "d MMM yyyy HH:mm" }}
            </p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Boat_Type_Name">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Type
          </th>
          <td
            *matCellDef="let row"
            [ngStyle]="{ 'white-space': 'initial' }"
            class="actions-cell"
            mat-cell
          >
            <p class="tbl-row-item">{{ row.Boat_Type_Name }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Boat_Vendor_Name">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Vendor
          </th>
          <td
            *matCellDef="let row"
            [ngStyle]="{ 'white-space': 'initial' }"
            class="actions-cell"
            mat-cell
          >
            <p class="tbl-row-item">{{ row.Vendor_Name }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Boat_From_Name">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            From
          </th>
          <td
            *matCellDef="let row"
            [ngStyle]="{ 'white-space': 'initial' }"
            class="actions-cell"
            mat-cell
          >
            <p class="tbl-row-item">{{ row.Boat_From_Name }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Boat_To_Name">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            To
          </th>
          <td
            *matCellDef="let row"
            [ngStyle]="{ 'white-space': 'initial' }"
            class="actions-cell"
            mat-cell
          >
            <p class="tbl-row-item">{{ row.Boat_To_Name }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Boat_Alongside">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Alongside
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <p class="tbl-row-item">{{ row.Boat_Alongside | date: "HH:mm" }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Boat_Cast_Off">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Cast off
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <p class="tbl-row-item">{{ row.Boat_Cast_Off | date: "HH:mm" }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Trip_Type">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Trip Type
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <p class="tbl-row-item">
              {{ row.Trip_Type === "round-trip" ? "Round Trip" : "One Way" }}
            </p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Currency_Name">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Currency
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <p class="tbl-row-item">{{ row.Currency_Name }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Boat_RATE">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Amount
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <p class="tbl-row-item">{{ row.Boat_RATE | number: ".2" }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Remarks">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Remarks
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <p class="tbl-row-item">{{ row.Remarks }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Action
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <!-- -->
            <button
              mat-icon-button
              (click)="SaveData(row, true)"
              *ngIf="
                authGuard.checkPermission(
                  'oPk6Fh2BP24443f12-c950-46b3-b22c-boat',
                  'edit'
                )
              "
            >
              <mat-icon class="icon-display">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              [matTooltip]="
                'Created By : ' +
                row.CREATED_BY +
                ' | ' +
                (row.DATE_CREATED | date: 'dd MMM yyyy HH:mm:ss') +
                '&#13;
              ' +
                (row.MODIFIED_BY
                  ? 'Modified By : ' +
                    row.MODIFIED_BY +
                    ' | ' +
                    (row.DATE_MODIFIED | date: 'd MMM yyyy HH:mm:ss')
                  : '')
              "
            >
              <mat-icon class="icon-display">info</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="ChangeStatus(row)"
              *ngIf="
                authGuard.checkPermission(
                  'oPk6Fh2BP24443f12-c950-46b3-b22c-boat',
                  'delete'
                )
              "
            >
              <mat-icon color="warn" class="icon-display">{{
                "close"
              }}</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: visibleColumns"
          class="clickable route-animations-elements"
          mat-row
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9999">No data found</td>
        </tr>
      </table>
    </div>

    <mat-paginator
      class="paginator"
      [pageSizeOptions]="[10, 25, 50, 100]"
      [pageSize]="pageSize"
    ></mat-paginator>

    <table
      class="mat-table details-table"
      style="width: 300px; border: 1px solid #efefef; margin-top: 20px"
    >
      <tr class="mat-row" *ngFor="let row of dataSourceBoatCount">
        <td class="mat-cell">Total {{ row.BOAT_TYPE }}</td>
        <td class="mat-cell">
          <b>{{ row.BOAT_COUNT }}</b>
        </td>
      </tr>
    </table>
  </fury-page-layout-content>
</fury-page-layout>
