<div mat-dialog-title>Vessel</div>

<mat-dialog-content style="height: 100% !important">
  <form [formGroup]="firstFormGroup" [ngStyle]="{ 'margin-top': '7px' }">
    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="24px"
      class="top"
    >
      <mat-form-field fxFlex>
        <mat-label>Vessel Name *</mat-label>
        <input type="text" formControlName="VESSEL_NAME" matInput />
        <mat-error
          *ngIf="firstFormGroup.get('VESSEL_NAME').hasError('required')"
          >Vessel name is required</mat-error
        >
      </mat-form-field>
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="24px"
      class="top"
    >
      <mat-form-field fxFlex>
        <mat-label>Company *</mat-label>
        <mat-select formControlName="COMPANY_GUID">
          <mat-option>
            <ngx-mat-select-search
              formControlName="company_Filter"
              [placeholderLabel]="'search...'"
              [noEntriesFoundLabel]="'no matching found!'"
            >
            </ngx-mat-select-search>
          </mat-option>

          <mat-option
            *ngFor="let b of filtered_company | async"
            [value]="b.COMPANY_GUID"
          >
            {{ b.COMPANY_NAME }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="firstFormGroup.get('COMPANY_GUID').hasError('required')"
          >Company is required</mat-error
        >
      </mat-form-field>
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="24px"
      class="top"
    >
      <mat-form-field fxFlex>
        <mat-label>Vessel Type *</mat-label>
        <mat-select formControlName="VESSEL_TYPE">
          <mat-option>
            <ngx-mat-select-search
              formControlName="vesselType_Filter"
              [placeholderLabel]="'search...'"
              [noEntriesFoundLabel]="'no matching found!'"
            >
            </ngx-mat-select-search>
          </mat-option>

          <mat-option
            *ngFor="let b of filtered_vesselType | async"
            [value]="b.PARAMETER_GUID"
          >
            {{ b.PARAMETER_NAME }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="firstFormGroup.get('VESSEL_TYPE').hasError('required')"
          >Vessel type is required</mat-error
        >
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Flag Id</mat-label>
        <mat-select formControlName="FLAG_ID">
          <mat-option>
            <ngx-mat-select-search
              formControlName="vesselFlag_Filter"
              [placeholderLabel]="'search...'"
              [noEntriesFoundLabel]="'no matching found!'"
            >
            </ngx-mat-select-search>
          </mat-option>

          <mat-option
            *ngFor="let b of filtered_vesselFlag | async"
            [value]="b.PARAMETER_GUID"
          >
            {{ b.PARAMETER_NAME }}
          </mat-option>
        </mat-select>
        <!-- <input type="text" formControlName="FLAG_ID" matInput> -->
        <mat-error *ngIf="firstFormGroup.get('FLAG_ID').hasError('required')"
          >Flag id is required</mat-error
        >
      </mat-form-field>
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="24px"
      class="top"
    >
      <mat-form-field fxFlex>
        <mat-label>IMO No</mat-label>
        <input
          type="text"
          formControlName="IMO_NUMBER"
          maxlength="25"
          matInput
        />
        <mat-error *ngIf="firstFormGroup.get('IMO_NUMBER').hasError('required')"
          >IMO No is required</mat-error
        >
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Port of Registry *</mat-label>
        <mat-select formControlName="Port_Of_Registry">
          <mat-option>
            <ngx-mat-select-search
              formControlName="port_Filter"
              [placeholderLabel]="'search...'"
              [noEntriesFoundLabel]="'no matching found!'"
            >
            </ngx-mat-select-search>
          </mat-option>

          <mat-option
            *ngFor="let b of filtered_port | async"
            [value]="b.PORT_GUID"
          >
            {{ b.Port_Name }}
          </mat-option>
        </mat-select>
        <!-- <input type="text" formControlName="Port_Of_Registry" matInput> -->
        <mat-error
          *ngIf="firstFormGroup.get('Port_Of_Registry').hasError('required')"
          >Port of registry is required</mat-error
        >
      </mat-form-field>
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="24px"
      class="top"
    >
      <!-- <mat-form-field  fxFlex>
                <mat-label>Call Sign</mat-label>
                <input type="text" formControlName="Call_Sign" maxlength="10" matInput>
                <mat-error *ngIf="firstFormGroup.get('Call_Sign').hasError('required')">Call sign is required</mat-error>
            </mat-form-field> -->
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="24px"
      class="top"
    >
      <mat-form-field fxFlex>
        <mat-label>Email Id - 1</mat-label>
        <input
          type="text"
          formControlName="EMAIL_ID1"
          maxlength="50"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          matInput
        />
        <mat-error *ngIf="firstFormGroup.get('EMAIL_ID1').hasError('required')"
          >Email id - 1 is required</mat-error
        >
        <mat-error *ngIf="firstFormGroup.get('EMAIL_ID1').hasError('pattern')">
          Invalid email id - 1 is entered
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field  fxFlex>
                <mat-label>Email Id - 2</mat-label>
                <input type="text" formControlName="EMAIL_ID2" maxlength="50"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" matInput>
                <mat-error *ngIf="firstFormGroup.get('EMAIL_ID2').hasError('required')">Email id - 2 is required</mat-error>
                <mat-error *ngIf="firstFormGroup.get('EMAIL_ID2').hasError('pattern')">
                  Invalid email id - 2 is entered
                </mat-error>
            </mat-form-field> -->
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="24px"
      class="top"
    >
      <mat-form-field fxFlex>
        <mat-label>Phone No - 1</mat-label>
        <input
          type="text"
          formControlName="PHONE_NO1"
          (input)="ValidNumberInput('PHONE_NO1', $event.target.value)"
          maxlength="20"
          matInput
        />
        <mat-error *ngIf="firstFormGroup.get('PHONE_NO1').hasError('required')"
          >Phone No - 1 is required</mat-error
        >
        <mat-error *ngIf="firstFormGroup.get('PHONE_NO1').hasError('maxLength')"
          >Phone No - 1 can contain upto 10 digits</mat-error
        >
      </mat-form-field>

      <!-- <mat-form-field  fxFlex>
                <mat-label>Phone No - 2</mat-label>
                <input type="text" formControlName="PHONE_NO2" (input)="ValidNumberInput('PHONE_NO2', $event.target.value)" maxlength="20" matInput>
                <mat-error *ngIf="firstFormGroup.get('PHONE_NO2').hasError('required')">Phone No - 1 is required</mat-error>
                <mat-error *ngIf="firstFormGroup.get('PHONE_NO2').hasError('maxLength')">Phone No - 1 can contain upto 10 digits</mat-error>
            </mat-form-field> -->
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="24px"
      *ngIf="ErrorMessage"
      class="top"
    >
      <h6 style="color: #ff0000">{{ ErrorMessage }}</h6>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button
    mat-raised-button
    color="primary"
    (click)="SaveCompany(true)"
    class="save-btn"
    [disabled]="!firstFormGroup.valid && !IsEdit"
  >
    SAVE AND ADD NEW
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="SaveCompany()"
    class="save-btn"
    [disabled]="!firstFormGroup.valid && !IsEdit"
  >
    SAVE
  </button>
  <button mat-raised-button color="warn" (click)="CloseModal()">CLOSE</button>
</mat-dialog-actions>
