.agent-screen {
  .left-label {
    width: 18%;
    margin-top: 15px;
  }

  .mat-form-field-infix {
    border-top: 0.84375em solid transparent;
  }

  .mat-form-field-infix {
    border-top: 0.84375em solid transparent !important;
  }

  .right-text {
    text-align: right;
  }
}