.add-boat-modal {
  .left-label {
    width: 30%;
    margin-top: 15px;
  }
  .two-divide {
    width: 19%;
  }
  .three-divide {
    width: 19%;
  }
  .table-container {
    border: 1px;
  }
  .td-class {
    border: 1px solid black;
  }
  .mat-form-field-infix {
    border-top: 0.84375em solid transparent;
  }
  .right-text {
    text-align: right;
  }
  td.mat-calendar-body-cell.ng-star-inserted {
    position: relative !important;
}
}
