<div mat-dialog-title>Change Password</div>

<mat-dialog-content style="height: 100% !important">
  <form [formGroup]="firstFormGroup" [ngStyle]="{ 'margin-top': '7px' }">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-label class="left-label">Current Password</mat-label>
      <mat-form-field appearance="outline" fxFlex>
        <input type="password" formControlName="OLD_PASSWORD" matInput autocomplete="off"/>
        <mat-error
          *ngIf="firstFormGroup.get('OLD_PASSWORD').hasError('required')"
          >Current Password is required</mat-error
        >
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-label class="left-label">New Password</mat-label>
      <mat-form-field appearance="outline" fxFlex>
        <input type="password" formControlName="NEW_PASSWORD" matInput autocomplete="off"/>
        <mat-error
          *ngIf="firstFormGroup.get('NEW_PASSWORD').hasError('required')"
          >New Password is required</mat-error
        >
        <mat-error
          *ngIf="firstFormGroup.get('NEW_PASSWORD').hasError('minLength')"
          >Minimum 8 characters required</mat-error
        >
        <mat-hint>Password minimum 8 character long</mat-hint>
      </mat-form-field>
      
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-label class="left-label">Confirm Password</mat-label>
      <mat-form-field appearance="outline" fxFlex>
        <input type="password" formControlName="CONFIRM_PASSWORD" matInput autocomplete="off"/>
        <mat-error
          *ngIf="comparePassword(firstFormGroup.value.CONFIRM_PASSWORD,firstFormGroup.value.NEW_PASSWORD)"
          >Confirm Password did not matched</mat-error
        >
        <mat-error
          *ngIf="firstFormGroup.get('CONFIRM_PASSWORD').hasError('required')"
          >Confirm Password is required</mat-error
        >
        <mat-error
          *ngIf="firstFormGroup.get('CONFIRM_PASSWORD').hasError('minLength')"
          >Minimum 8 characters required</mat-error
        >
      </mat-form-field>
    </div>
    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="24px"
      *ngIf="ErrorMessage"
    >
      <!-- <h6 style="color: #ff0000">{{ ErrorMessage }}</h6> -->
    </div>
  </form>
   
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button
    mat-raised-button
    color="primary"
    [ngClass]="[!firstFormGroup.valid ? '' : 'save-btn']"
    [disabled]="!firstFormGroup.valid || (firstFormGroup.value.CONFIRM_PASSWORD !== firstFormGroup.value.NEW_PASSWORD)"
    (click)="saveServiceData(firstFormGroup.value)"
  >
    SAVE
  </button>
  <button mat-raised-button color="warn" (click)="closeModel()">CLOSE</button>
</mat-dialog-actions>
