<mat-toolbar class="black-strip">
  <span
    ><img src="../../../../assets/img/Jot_Logo.png" style="width: 50px"
  /></span>
  <span class="example-spacer"></span>
  <span
    ><img src="../../../../assets/img/Client_Logo.png" style="width: 200px"
  /></span>
</mat-toolbar>
<div
  class="page background-imag"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div [@fadeInUp] class="card border-radius elevation align-right">
    <div
      class="header background-primary padding"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="fill-primary-contrast">
        <h2 style="margin: 0px; font-weight: bold; color: #fff">
          RESET PASSWORD
        </h2>
      </div>
    </div>
    <form
      novalidate
      class="padding"
      fxLayout="column"
      fxLayoutGap="16px"
      [formGroup]="form"
    >
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="inputType"
            formControlName="password"
            required
            autocomplete="off"
          />

          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="toggleVisibility()"
            matTooltip="Toggle Visibility"
          >
            <mat-icon *ngIf="visible">visibility</mat-icon>
            <mat-icon *ngIf="!visible">visibility_off</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password').hasError('required')"
            >Password is required</mat-error
          >
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            [type]="inputType"
            formControlName="confirm_password"
            required
            autocomplete="off"
          />
          <mat-error *ngIf="form.get('confirm_password').hasError('required')"
            >Password is required</mat-error
          >
        </mat-form-field>
      </div>
      <button
        type="button"
        color="primary"
        mat-raised-button
        [disabled]="!form.valid"
        (click)="send(form.value)"
      >
        SAVE PASSWORD
      </button>
    </form>
  </div>
</div>
