<fury-page-layout mode="card" class="view-all-crew-handeling">
  <fury-page-layout-header>
    <form
      [formGroup]="filterFormGroup"
      (ngSubmit)="onClickSubmit(filterFormGroup.value)"
    >
      <div class="filter-area">
        <div fxLayout="row" fxLayoutAlign="start">
          <div fxFlex>
            <mat-form-field>
              <mat-label>Principal Name</mat-label>
              <mat-select formControlName="PRINCIPAL_GUID">
                <mat-option>
                  <ngx-mat-select-search
                    formControlName="principal_Filter"
                    [placeholderLabel]="'search...'"
                    [noEntriesFoundLabel]="'no matching found!'"
                  >
                  </ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let b of filtered_principal | async"
                  [value]="b.COMPANY_GUID"
                >
                  {{ b.COMPANY_NAME }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Vessel</mat-label>
              <mat-select formControlName="VESSEL_GUID">
                <mat-option>
                  <ngx-mat-select-search
                    formControlName="vessel_Filter"
                    [placeholderLabel]="'search...'"
                    [noEntriesFoundLabel]="'no matching found!'"
                  >
                  </ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let b of filtered_vessel | async"
                  [value]="b.VESSEL_GUID"
                >
                  {{ b.VESSEL_NAME }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <mat-label>Planner</mat-label>
              <mat-select formControlName="PLANNER_GUID">
                <mat-option>
                  <ngx-mat-select-search
                    formControlName="planner_Filter"
                    [placeholderLabel]="'search...'"
                    [noEntriesFoundLabel]="'no matching found!'"
                  >
                  </ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let b of filtered_planner | async"
                  [value]="b.GUID"
                >
                  {{ b.REF_NUM }} - {{ b.VESSEL_NAME }} -
                  {{
                    (b.VESSEL_ACTUAL_ARR ? b.VESSEL_ACTUAL_ARR : b.VESSEL_ETA)
                      | date: "dd MMM YYYY"
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Service Status</mat-label>
              <mat-select formControlName="Status_GUID" multiple>
                <mat-option
                  *ngFor="let b of filtered_status | async"
                  [value]="b.PARAMETER_GUID"
                >
                  {{ b.PARAMETER_NAME }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="filter-btn-area">
            <div>
              <button
                class="create"
                mat-raised-button
                color="primary"
                class="filter-btn"
              >
                Search
              </button>
            </div>
            <div>
              <button
                class="create"
                (click)="clearFilter()"
                mat-raised-button
                color="warn"
                class="filter-btn"
                type="button"
              >
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <div #TABLE>
      <div class="actions-area">
        <div>
          <span
            class="create"
            (click)="SaveData(null, false)"
            *ngIf="
              authGuard.checkPermission(
                'oPk6Fh2BP24443f12-c950-46b3-b22c-followup',
                'create'
              )
            "
          >
            <button mat-mini-fab color="primary">
              <mat-icon>add</mat-icon>
            </button>
            Add FollowUp
          </span>
        </div>

        <div>
          <span
            (click)="exportAsExcel()"
            style="cursor: pointer"
            *ngIf="
              authGuard.checkPermission(
                'oPk6Fh2BP24443f12-c950-46b3-b22c-followup',
                'export'
              )
            "
          >
            <img
              src="../../../../assets/img/excel.png"
              class="logo"
              alt="excel"
            />
          </span>
        </div>
      </div>
      <table
        [dataSource]="dataSource"
        mat-table
        matSort
        #table
        class="width-100"
        (matSortChange)="sortData($event)"
      >
        <ng-container matColumnDef="Planner">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Planner Ref
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            {{ row.Planner_Ref }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Principal">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Principal
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            {{ row.COMPANY_NAME }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Vessel">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Vessel
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            {{ row.VESSEL_NAME }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Remarks">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Remark
          </th>
          <td *matCellDef="let row" class="actions-cell remarks-text" mat-cell>
            <p>
              {{ row.Remarks }}
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Status_GUID">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Status
          </th>
          <td
            *matCellDef="let row"
            class="actions-cell datetime-class"
            mat-cell
          >
            {{ row.Status_Name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          >
            Action
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <button
              mat-icon-button
              (click)="SaveData(row, true)"
              *ngIf="
                authGuard.checkPermission(
                  'oPk6Fh2BP24443f12-c950-46b3-b22c-followup',
                  'edit'
                )
              "
            >
              <mat-icon class="icon-display">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="ChangeStatus(row)"
              *ngIf="
                authGuard.checkPermission(
                  'oPk6Fh2BP24443f12-c950-46b3-b22c-followup',
                  'delete'
                )
              "
            >
              <mat-icon
                class="icon-display"
                [ngStyle]="{ color: 'red', 'font-weight': 'bold' }"
                >{{ "close" }}</mat-icon
              >
            </button>

            <button
              mat-icon-button
              [matTooltip]="
                'Created By : ' +
                row.CREATED_BY +
                ' | ' +
                (row.DATE_CREATED | date: 'dd MMM yyyy HH:mm:ss') +
                '&#13;
                    ' +
                (row.MODIFIED_BY
                  ? 'Modified By : ' +
                    row.MODIFIED_BY +
                    ' | ' +
                    (row.DATE_MODIFIED | date: 'd MMM yyyy HH:mm:ss')
                  : '')
              "
            >
              <mat-icon class="icon-display">info</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: visibleColumns"
          class="clickable route-animations-elements"
          mat-row
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9999">No data found</td>
        </tr>
      </table>
    </div>
    <mat-paginator
      class="paginator"
      [pageSizeOptions]="[10, 25, 50, 100]"
      [pageSize]="pageSize"
    ></mat-paginator>
    <!-- </fury-list> -->
  </fury-page-layout-content>
</fury-page-layout>
