::ng-deep.user-action-menu {
  .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .mat-menu-item {
    height: 35px !important;
    line-height: 35px !important;
  }


}

.icon-display {
  transform: scale(0.7);
}

.mat-icon-button {
  width: 25px !important;
}

p.tbl-row-item {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  height: 50px;
  width: 50px;
  margin-top: -3px;
}

element.style {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
}

.fury-default fury-list .fury-list-header {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.actions {
  background: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  border-bottom: 2px solid #b2b2b2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-table {
  width: 100%;
}

tr.mat-header-row {
  height: 56px;
  background-color: #1976D2;
}

th.mat-header-cell {
  text-align: left;
  color: white;
}