<div mat-dialog-title>SMTP Setting</div>

<mat-dialog-content style="height: 100% !important;">


    <form [formGroup]="firstFormGroup" [ngStyle]="{'margin-top': '7px'}">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-label  class="left-label">Host</mat-label>
      <mat-form-field appearance="outline" fxFlex>
          
        <input type="text" formControlName="Smtp_Host" matInput>
          <mat-error *ngIf="firstFormGroup.get('Smtp_Host').hasError('required')">Host is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-label  class="left-label">Port</mat-label>
      <mat-form-field appearance="outline" fxFlex>
          
        <input type="text" formControlName="Smtp_Port" matInput>
          <mat-error *ngIf="firstFormGroup.get('Smtp_Port').hasError('required')">Port is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-label  class="left-label">Username</mat-label>
      <mat-form-field appearance="outline" fxFlex>
          
        <input type="text" formControlName="Smtp_Username" matInput>
          <mat-error *ngIf="firstFormGroup.get('Smtp_Username').hasError('required')">Username is required</mat-error>
        </mat-form-field>
    </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-label  class="left-label">Password</mat-label>
        <mat-form-field appearance="outline" fxFlex>
            
          <input type="text" formControlName="Smtp_Password" matInput>
            <mat-error *ngIf="firstFormGroup.get('Smtp_Password').hasError('required')">Password is required</mat-error>
          </mat-form-field>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-label  class="left-label">Secure</mat-label>
        <mat-form-field appearance="outline" fxFlex>
            <mat-select formControlName="Smtp_Secure">
                <mat-option [value]="1">
                  Yes
                </mat-option>
                <mat-option [value]="0">
                    No
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="firstFormGroup.get('Smtp_Secure').hasError('required')">Secure is required</mat-error>
          </mat-form-field>
      </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" *ngIf="ErrorMessage">
            <h6 style="color: #ff0000;">{{ErrorMessage}}</h6>
        </div>

    </form>
 
</mat-dialog-content>
<mat-dialog-actions fxLayout="row"  fxLayoutAlign="end center">
  <button mat-raised-button color="primary" [ngClass]="[!firstFormGroup.valid? '' : 'save-btn']" [disabled]="!firstFormGroup.valid" (click)="saveConfiguration()">SAVE</button>
  <button mat-raised-button color="warn" (click)="closeModel()">CLOSE</button>
</mat-dialog-actions>